<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form with Video Fetch</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/alpinejs" defer></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen" x-data="formHandler()">
  <div class="container mx-auto">
    <!-- Form Card -->
    <div class="bg-white rounded-lg shadow-lg p-8 max-w-4xl mx-auto">
      <h2 class="text-2xl font-bold text-center mb-4">動画生成フォーム</h2>
      <form @submit.prevent="submitForm">
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="themeText">動画のテーマ</label>
          <textarea rows="10" id="themeText" x-model="themeText" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="社訓を社内に浸透させたい。そのための動画。
社訓: 未来を切り拓く創造の心と力を持とう
4ページ。現代社会について、未来を切り拓くとは、創造の心と力とは、まとめ、を1ページずつ。
各ページはナレーターが説明し、男と女が一言ずつ発言する。" :disabled="isSubmitting"></textarea>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-700" x-show="!isSubmitting">Submit</button>
        <div x-show="isSubmitting" class="flex justify-center items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="animate-spin h-6 w-6 text-blue-500" viewBox="0 0 24 24" fill="none">
            <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" />
            <path d="M12 2a10 10 0 1 0 10 10H12V2z" fill="currentColor" />
          </svg>
        </div>

      </form>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-8 max-w-4xl mx-auto mt-8" x-cloak>
      <h2 class="text-2xl font-bold text-center mb-4">編集フォーム</h2>
      <form @submit.prevent="submitForm">
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="titleText">動画のタイトル</label>
          <input type="text" id="titleText" x-model="titleText" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="">

          <label class="block text-gray-700 font-bold mb-2" for="narrationText">ナレーションテキスト</label>
          <textarea rows="10" id="narrationText" x-model="narrationText" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder=""></textarea>
        </div>

        <div class="mb-4">
          <p class="block text-gray-700 font-bold mb-2">画像</p>
          <div x-ref="imageDiv">
          </div>
        </div>

        <button type="submit" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-700" x-show="!isSubmitting">Submit</button>
        <div x-show="isSubmitting" class="flex justify-center items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="animate-spin h-6 w-6 text-blue-500" viewBox="0 0 24 24" fill="none">
            <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" />
            <path d="M12 2a10 10 0 1 0 10 10H12V2z" fill="currentColor" />
          </svg>
        </div>
      </form>
    </div>

    <!-- Video Display Card -->
    <div class="bg-white rounded-lg shadow-lg p-8 max-w-4xl mx-auto mt-8" x-cloak>
      <h2 class="text-2xl font-bold text-center mb-4">生成AIが作成した動画</h2>
      <video controls class="w-full rounded-lg" :src="videoUrl"></video>
    </div>

    <!-- File List Card -->
    <div class="bg-white rounded shadow p-6 w-full max-w-4xl mx-auto mt-6" x-init="startInterval">
      <h2 class="text-xl font-semibold mb-4">これまでに作成した絵本</h2>
      <ul class="space-y-2">
        <template x-for="title in titleList" :key="title">
          <li>
            <a href="#" @click.prevent="updateVideoUrl(title)"
               class="text-blue-500 hover:underline">
              <span x-text="title"></span>
            </a>
          </li>
        </template>
      </ul>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-8 max-w-4xl mx-auto mt-8">
      <h2 class="text-2xl font-bold text-center mb-4">リンク</h2>

      <ul>
        <li>
          <a href="/slide.html" target="_blank" class="text-blue-500 hover:underline">
            社内イベント発表スライド</a>
        </li>
        <li>
          <a href="https://github.com/autoaim-jp/chatgpt-movie-web" target="_blank" class="text-blue-500 hover:underline">
            ソースコード(GitHub)</a>
        </li>
        <li>
          <a href="https://github.com/autoaim-jp/chatgpt-movie-web/blob/master/service/movieApi/src/setting.js#L44" target="_blank" class="text-blue-500 hover:underline">
            ChatGPTに渡すプロンプト</a>
        </li>
        <li>
          <a href="https://github.com/autoaim-jp/chatgpt-movie-web/blob/master/service/movieApi/src/data/output/01JDNQ883NCDVGRA8GM57WJYXB/story-by-chatgpt.txt" target="_blank" class="text-blue-500 hover:underline">
            ChatGPTからのレスポンス例</a>
        </li>
      </ul>

    </div>

  </div>


  <script>
    function formHandler() {
      return {
        themeText: `社訓を社内に浸透させたい。そのための動画。
社訓: 未来を切り拓く創造の心と力を持とう
4ページ。現代社会について、未来を切り拓くとは、創造の心と力とは、まとめ、を1ページずつ。
各ページはナレーターが説明し、男と女が一言ずつ発言する。`,
        titleText: '',
        narrationText: '',
        targetText: '',
        videoUrl: '',
        requestId: '',
        titleList: [],
        fileDirList: {},
        imageList: {},
        isSubmitting: false,

        async submitForm() {
          this.isSubmitting = true;

          try {
            const response = await fetch('/api/v1/prompt/register/chat', {
              method: 'POST',
              headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
              body: new URLSearchParams({
                themeText: this.themeText,
              }),
            });

            const data = await response.json();
            if (data.result && data.result.isRegistered) {
              this.requestId = data.result.requestId;
              this.checkVideoStatus();
              this.checkAssetStatus();
            }
          } catch (error) {
            console.error('Error during form submission:', error);
            this.isSubmitting = false;
          }
        },

        async checkAssetStatus() {
          const intervalId = setInterval(async () => {
            try {
              fetch(`/api/v1/file/content?requestId=${this.requestId}&fileName=chatgpt_result_json_chat.txt`)
                .then(response => {
                  if (!response.ok) {
                    throw new Error('Network response was not ok')
                  }
                  return response.text()
                })
                .then(body => {
                  if (!body.trim()) {
                    return
                  }

                  const json = JSON.parse(body);
                  if (json && json.title) {
                    this.titleText = json.title
                    this.narrationText = json.narrationCsv
                    clearInterval(intervalId)

                    this.checkImageStatus()
                  }
                })
                .catch(error => {
                  console.error('Fetch error checking asset status:', error)
                })
            } catch (error) {
              console.error('Error checking asset status:', error);
            }
          }, 1000);
        },

        async checkImageStatus() {
          const intervalId = setInterval(async () => {
            try {
              fetch(`/api/v1/file/latest?requestId=${this.requestId}`)
                .then(response => {
                  if (!response.ok) {
                    throw new Error('Network response was not ok')
                  }
                  return response.json()
                })
                .then(json => {
                  console.log({ debug: 'checkImageStatus', json })
                  const imageFileNameList = json.result.result.fileDirList.filter((fileName) => {
                    return /\.png$/.test(fileName)
                  })
                  clearInterval(intervalId)

                  imageFileNameList.forEach(async (fileName) => {
                    const response = await fetch(`/api/v1/file/content?requestId=${this.requestId}&fileName=${fileName}`);
                    const blob = await response.blob();

                    this.imageList[fileName] = blob
                  })
                })
                .catch(error => {
                  console.error('Fetch error checking image status:', error)
                })
            } catch (error) {
              console.error('Error checking image status:', error);
            }
          }, 1000);
        },



        async checkVideoStatus() {
          const intervalId = setInterval(async () => {
            try {
              const response = await fetch(`/api/v1/file/content?requestId=${this.requestId}&fileName=output.mp4`);
              const blob = await response.blob();

              if (blob.size > 0) {
                clearInterval(intervalId);
                this.videoUrl = URL.createObjectURL(blob);
                this.isSubmitting = false;
              }
            } catch (error) {
              console.error('Error checking video status:', error);
            }
          }, 1000);
        },

        fetchFileList() {
          fetch('/api/v1/file/list')
            .then(response => response.json())
            .then(data => {
              if (data.result && data.result.result && data.result.result.fileDirList) {
                // :TODO
                this.fileDirList = data.result.result.fileDirList;
                this.titleList = Object.values(this.fileDirList);
              }
            })
            .catch(error => console.error('Error fetching file list:', error));
        },
        startInterval() {
          this.fetchFileList();
          setInterval(() => {
            this.fetchFileList()
          }, 10*1000); // 10秒間隔で実行
        },

        updateVideoUrl(title) {
          let titleRequestId = null
          for (const [requestId, currentTitle] of Object.entries(this.fileDirList)) {
            if (currentTitle === title) {
              titleRequestId = requestId
            }
          }
          if (!titleRequestId) {
            return alert('動画が見つかりません。')
          }
          this.videoUrl = `/api/v1/file/content?requestId=${titleRequestId}&fileName=output.mp4`;
        },
      };
    }
  </script>
</body>
</html>

